<div class="flex justify-center h-4/5">
    @if (rickAndMortyCharactersQuery.isPending()) {
    Loading...
    }
    @if (rickAndMortyCharactersQuery.error()) {
    An error has occurred while fetching Rick And Morty Characters
    }
    @if (rickAndMortyCharactersQuery.data(); as characters) {
    <ag-grid-angular class="ag-theme-quartz justify-items-center h-full w-2/3" [rowData]="characters"
        [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    }
</div>
<div class="flex justify-center mt-2">
    <app-add-new-character-button />
</div>